{% extends "layout.html" %}
{% block body %}
	<table>
		<thead>
			<tr>
				<td>Schedule</td>
				{% for room in rooms %}
				<td>{{ room.name }}</td>
				{% endfor %}
			</tr>
		</thead>
		<tbody id="schedule">
			{% for hour in hours %}
			<tr>
				<td class="non-select">{{ hour }}:00</td>
				{% for room in rooms %}
					<td class="selectable" data-hour="{{ hour }}" data-room="{{ room.id }}"/>
				{% endfor %}
			</tr>
			{% endfor %}
		</tbody>
	</table>

	<script type="text/javascript">
		$(document).ready(function() {
			var room = 0;
			var startHour = 0;

			$('#addReservation').click(function() {
				addReservation();
				return false;
			});

			$( "#schedule" ).selectable({
				filter:'td.selectable',
				selecting: function(event, ui) {
					var selected = $( ".ui-selecting");
					if (selected.length > 1) {
						var firstCell = selected[0];
						var room = $(firstCell).data("room");

						var selectedRoom = $(ui.selecting).data("room");
						if (selectedRoom != room) {
							$(ui.selecting).removeClass(".ui-selecting");
						}
					}
				},

				stop: function(event, ui) {
					var result = $( "#select-result" ).empty();
					$( ".ui-selected", this ).each(function() {
						var index = $( "#selectable li" ).index( this );
						result.append( " #" + ( index + 1 ) );
					});
				}
			});

		});
	</script>
{% endblock %}